pip>=19.0.3 
setuptools>=41.0.0
wheel>=0.33.1 
distutils
cma                          
joblib                       
matplotlib                   
numpy                        
pandas                       
pathlib2                     
Pillow                       
python-telegram-bot          
scikit-image                 
scikit-learn                 
scipy     